<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Office360 использует камеру для видеовстреч в Яндекс Телемосте.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Office360 использует микрофон для видеовстреч в Яндекс Телемосте.</string>
    <key>NSScreenCaptureUsageDescription</key>
    <string>Office360 использует запись экрана для демонстрации экрана в Яндекс Телемосте.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
